body {
  width: 1200px;
  background-color: skyblue;
}

#banner {
  text-align: center;
  background-image: url("../img/Resort-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}

#title {
  background-color: white;
}

#nav {
  background-color: salmon;
  list-style: none;
  margin-top: 85px;
}

#nav li{
  padding: 0px 5px;
  display: inline-block;
}

#nav li a {
  font-weight: bold;
  text-decoration: none;
  color: Royalblue;
}

p {
  font-size: 1.25em;
  font-family: sans-serif;
  text-align: center;
  padding: 5px 30px;
}

img{
  display: inline-block;
  margin: 0px 450px;
}

#attractions, h3{
  font-family: monospace;
  text-align: center;
  list-style: none;
}
